.card{
    width: 200px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid rgb(202, 201, 201);
    cursor: pointer;
}
.card:hover{
    transform: scale(1.01);
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 10px rgb(117, 117, 117);
}
.card .item-img{
    min-width: 200px;
    min-height: 60%;
    position: relative;
}
.item-img .offer-label{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 183, 0);
    padding:10px 10px;
    font-size: 12px;
    color: white;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.item-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: contain;
    object-position: center;
    background-color: rgba(174, 200, 220, 0.486);
}
.card .item-name{
    padding:10px 10px;
    width: 100%;
    text-align: start;
    overflow: hidden;
    text-wrap: wrap;
    color: rgb(54, 54, 54);
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.card .amount-add{
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
}
.amount-add .amount{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.amount .a-amount{
    color: rgb(0, 183, 0);
    font-size: 16px;
    font-weight: 600;
}

.amount .mrp-amount{
    color: rgb(117, 117, 117);
    text-decoration-line:line-through;
    font-size: 12px;
    font-weight: 600;
    
}
.amount-add button{
    width: 60px;
    height: 25px;
    text-align: center;
    border: 2px solid rgba(111, 168, 111, 0.333);
    border-radius: 5px;
    font-size: 14px;
    color: rgb(0, 183, 0);
    background-color: rgba(198, 219, 213, 0.473);
    cursor: pointer;
}

@media screen and (max-width:514px) {
    .card{
        width: 160px;
        height: 220px;
        border-radius: 10px;
    }   
    .card .item-img{
        min-width: 160px;
        min-height: 60%;
        position: relative;
    }
    .item-img .offer-label{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .item-img img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .card .item-name{
        padding:5px 5px;
        font-size: 13px;
        font-weight: 600;
    }
    .card .amount-add{
        display: flex;
        padding: 10px 10px;
        align-items: center;
        justify-content: space-between;
    }
    .amount .a-amount{
        font-size: 14px;
        font-weight: 500;
    }
    
    .amount .mrp-amount{
        font-size: 10px;
        font-weight: 700;
    }
}