.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.banner{
    width: 80%;
}
/* .slick-arrow{
    filter: invert(1);
} */
.banner-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    height: 550px;
}
.item-img{
    width: 500px;
    height: 400px;
}
.item-img img{
    width: 100%;
    height: 100%;
}
